<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.name') %>.css"/>
		<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->
		<!-- <script src="http://localhost:35729/livereload.js"></script> -->
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" src="/static/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/jquery.jqplot.js"></script>
		<script type="text/javascript" src="/static/underscore.js"></script>
		<script type="text/javascript" src="/static/moment.js"></script>
		<script type="text/javascript" src="/static/angular.js"></script>
		<!-- <script type="text/javascript" src="/static/angular-mocks.js"></script> -->
		<!-- <script type="text/javascript" src="/static/angular-underscore.js"></script> -->
		<script type="text/javascript" src="/static/angular-underscore-module.js"></script>
		<script type="text/javascript" src="/static/angular-moment.js"></script>
		<script type="text/javascript" src="/static/mongolab.js"></script>
		<script type="text/javascript" src="/static/bootstrap.js"></script>
		<script type="text/javascript" src="/static/lodash.js"></script>
		<script type="text/javascript" src="/static/angularjs-dropdown-multiselect.js"></script>
		<script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
		<meta charset="UTF-8">
		<!-- <base href="/"> -->
		<base href="/hive/">
	</head>

	<body>

		<div id="ngApp" lang="en" ng-app="app">
			<div ng-controller="AppCtrl">
				<!-- <div class="container-fluid"> -->
				<div class="container">
					<div ng-include="'header.tpl.html'"></div>
					<!-- <div ng-include="'notifications.tpl.html'" class="container-fluid" ng-show="notifications.getCurrent().length"></div> -->
					<div ng-view></div>
					<div ng-include="'notifications.tpl.html'" ng-show="notifications.getCurrent().length"></div>
				</div>
				<!-- <div ng-view class="container-fluid"></div> -->
				<!-- <script src="http://localhost:35729/livereload.js"></script> -->
			</div>
		</div>

	</body>
</html>
