<div id="container-sprint-itemview">

	<!-- -------------------------------------------------- -->
	<!-- Sprint Header -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Sprint</strong>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Sprint Title, Description, Properties -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="media">
				<property-bar properties="sprint.attributeValuesToDisplay" root-div-class="media-object pull-right" reverse="true" ></property-bar>
				<div class="media-body">
					<label class="media-heading">{{sprint.name}}</label>
					<br /><div class="badge" ng-cloak><strong>{{sprint.$id()}}</strong></div>
				</div>
			</div>

			<!-- <span class="pull-left"><h4 class="media-heading">{{sprint.name}}</h4></span> -->

		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-body">
					<p>{{sprint.description}}</p>
					<!-- <a class="btn btn-primary media-object pull-right" role="button" ng-click="sprintsCrudHelpers.edit(sprint.$id())" ng-cloak><icon id="edit"></icon> Edit Sprint</a> -->
					<!-- <span class="form-group pull-right"> -->
					<!-- 	<a class="btn btn-primary media-object" role="button" ng-click="sprintsCrudHelpers.edit(sprint.$id())" ng-disabled="sprint.isExpired()" ng-cloak><icon id="edit"></icon> Edit Sprint</a> -->
					<!-- 	<p class="help-block" ng-show="sprint.isExpired()">Cannot edit an expired sprint</p> -->
					<!-- </span> -->
					<!-- <button class="btn btn-primary media-object pull-right" role="button" ng-click="sprintsCrudHelpers.edit(sprint.$id())" ng-disabled="sprint.isExpired()" tooltip="editToolTip()" ng-cloak><icon id="edit"></icon> <icon id="warning-sign"></icon> Edit Sprint</button> -->
					
					<span class="media-object pull-right">
						<action-icon icon="warning-sign" tip="Cannot edit an expired sprint" ng-show="sprint.isExpired()"></action-icon>
 						<button class="btn btn-primary" role="button" ng-click="sprintsCrudHelpers.edit(sprint.$id())" ng-hide="sprint.isExpired()" ng-cloak><icon id="edit"></icon> Edit Sprint</button>
					</span>

				</div>					
			</div>
		</div>
	</div>
	<!-- -------------------------------------------------- -->
	<!-- Other Entities -->
	<!-- TODO: Implement this with ng-repeat or in separate template files -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<tabset justified="true" type="pills">
			<tab heading="Tasks">
				<tableactive items="tasks" fetchingitems="fetchingTasks" resourceconf="tasksConf" ></tableactive>
			</tab>
		</tabset>
	</div>
	<!-- Other Entities End -->

</div>
