<div id="container-productbacklog-itemview">

	<!-- -------------------------------------------------- -->
	<!-- Product Backlog Item Header -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Product Backlog Item</strong>
			<action-icon class="pull-right" icon="edit" action="backlogItemsCrudHelpers.edit(backlogItem.$id())" tip="Edit Backlog Item" invert="true"></action-icon>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Product Backlog Item Title, Description, Properties -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="media">
				<property-bar properties="backlogItem.attributeValuesToDisplay" root-div-class="media-object pull-right" reverse="true" ></property-bar>
				<div class="media-body">
					<label class="media-heading">{{backlogItem.name}}</label>
					<p>
						<span class="badge" ng-cloak><strong>{{backlogItem.$id()}}</strong></span>
						<!-- <span>&nbsp;</span> -->
						<!-- <action-icon icon="edit" action="backlogItemsCrudHelpers.edit(backlogItem.$id())" tip="Edit Backlog Item"></action-icon> -->
					</p>
					<!-- <p><label class="media-heading">{{backlogItem.name}}</label></p> -->
					<!-- <br /><div class="badge" ng-cloak><strong>{{backlogItem.$id()}}</strong></div> -->
				</div>
			</div>

			<!-- <span class="pull-left"><h4 class="media-heading">{{backlogItem.name}}</h4></span> -->

		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-body">
					<!-- <action-icon class="pull-right media-object" icon="edit" action="backlogItemsCrudHelpers.edit(backlogItem.$id())" tip="Edit Backlog Item"></action-icon> -->
					<p>{{backlogItem.description}}</p>
					<!-- <action-icon class="pull-right media-object" icon="edit" action="backlogItemsCrudHelpers.edit(backlogItem.$id())" tip="Edit Backlog Item"></action-icon> -->
					<!-- <a class="btn btn-primary media-object pull-right" role="button" ng-click="backlogItemsCrudHelpers.edit(backlogItem.$id())" ng-cloak><icon id="edit"></icon> Edit Backlog Item</a> -->
				</div>
			</div>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Comments -->
	<!-- -------------------------------------------------- -->
	<accordion close-others="false">
		<accordion-group is-open="commentAccord.commentOpen" panel-class="success" ng-init="commentAccord = {commentOpen: false}">
			<accordion-heading>
				<span class="hover-pointer">Comments</span>
				<span class="pull-right hover-pointer" ng-show="!commentAccord.commentOpen"><icon id="chevron-down"></icon></span>
				<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen"><icon id="chevron-up"></icon></span>
			</accordion-heading>
			<comment resource-id="{{backlogItem.$id()}}" for-resource="productbacklog" user-id="{{security.currentUser.ID}}"></comment>
			<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen" ng-click="commentAccord.commentOpen = false"><icon id="chevron-up"></icon></span>
		</accordion-group>
		<!-- <accordion-group-chevron heading="Comments" panel-class="success"> -->
		<!-- 	<comment resource-id="{{backlogItem.$id()}}" for-resource="backlogItems" user-id="{{security.currentUser.ID}}"></comment> -->
		<!-- </accordion-group-chevron> -->
	</accordion>
	<accordion close-others="false">
	<accordion-group is-open="documentAccord.documentOpen" panel-class="success" ng-init="documentAccord = {documentOpen: false}">
		<accordion-heading>
		<span class="hover-pointer">Attach a Document</span>
		<span class="pull-right hover-pointer" ng-show="!documentAccord.documentOpen"><icon id="chevron-down"></icon></span>
		<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen"><icon id="chevron-up"></icon></span>
		</accordion-heading>
		<document resource-id="{{backlogItem.$id()}}" for-resource="productbacklog"></document>
		<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen" ng-click="documentAccord.documentOpen = false"><icon id="chevron-up"></icon></span>
	</accordion-group>
	</accordion>

	<!-- -------------------------------------------------- -->
	<!-- Other Entities -->
	<!-- TODO: Implement this with ng-repeat or in separate template files -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<tabset justified="true" type="pills">
			<tab heading="Dashboard">

				<accordion close-others="true">

					<!-- -------------------------------------------------- -->
					<!-- Pie Charts -->
					<!-- -------------------------------------------------- -->
					<accordion-group is-open="pieAccord.pieOpen" panel-class="warning" ng-init="pieAccord = {pieOpen: true}">
						<accordion-heading>
							<span class="hover-pointer">Break Downs</span>
							<span class="pull-right hover-pointer" ng-show="!pieAccord.pieOpen"><icon id="chevron-down"></icon></span>
							<span class="pull-right hover-pointer" ng-show="pieAccord.pieOpen"><icon id="chevron-up"></icon></span>
						</accordion-heading>
 						<pie-chart items="tasks" fetchingitems="fetchingTasks" chart-config="pieChartConfig"></pie-chart>
						<span class="pull-right hover-pointer" ng-show="pieAccord.pieOpen" ng-click="pieAccord.pieOpen = false"><icon id="chevron-up"></icon></span>
					</accordion-group>

					<!-- -------------------------------------------------- -->
					<!-- Burn down Charts -->
					<!-- -------------------------------------------------- -->
					<accordion-group is-open="burnDownAccord.burnDownOpen" panel-class="warning" ng-init="burnDownAccord = {burnDownOpen: false}">
						<accordion-heading>
							<span class="hover-pointer">Burn Downs</span>
							<span class="pull-right hover-pointer" ng-show="!burnDownAccord.burnDownOpen"><icon id="chevron-down"></icon></span>
							<span class="pull-right hover-pointer" ng-show="burnDownAccord.burnDownOpen"><icon id="chevron-up"></icon></span>
						</accordion-heading>
						<!-- <burn-down-chart items="tasks" fetchingitems="fetchingTasks" chart-config="burnDownChartConfig"></burn-down-chart> -->
						<span class="pull-right hover-pointer" ng-show="burnDownAccord.burnDownOpen" ng-click="burnDownAccord.burnDownOpen = false"><icon id="chevron-up"></icon></span>
					</accordion-group>


					<!-- -------------------------------------------------- -->
					<!-- Kanban Board -->
					<!-- -------------------------------------------------- -->
					<accordion-group is-open="kanbanAccord.kanbanOpen" panel-class="warning" ng-init="kanbanAccord = {kanbanOpen: false}">
						<accordion-heading>
							<span class="hover-pointer">Kanban</span>
							<span class="pull-right hover-pointer" ng-show="!kanbanAccord.kanbanOpen"><icon id="chevron-down"></icon></span>
							<span class="pull-right hover-pointer" ng-show="kanbanAccord.kanbanOpen"><icon id="chevron-up"></icon></span>
						</accordion-heading>
						<!-- <kanban items="tasks" fetchingitems="fetchingTasks" kanban-config="kanbanConfig"></kanban> -->
						<span class="pull-right hover-pointer" ng-show="kanbanAccord.kanbanOpen" ng-click="kanbanAccord.kanbanOpen = false"><icon id="chevron-up"></icon></span>
					</accordion-group>

					<!-- -------------------------------------------------- -->
					<!-- Gantt Charts -->
					<!-- -------------------------------------------------- -->
					<accordion-group is-open="ganttAccord.ganttOpen" panel-class="warning" ng-init="ganttAccord = {ganttOpen: false}">
						<accordion-heading>
							<span class="hover-pointer">Time Lines</span>
							<span class="pull-right hover-pointer" ng-show="!ganttAccord.ganttOpen"><icon id="chevron-down"></icon></span>
							<span class="pull-right hover-pointer" ng-show="ganttAccord.ganttOpen"><icon id="chevron-up"></icon></span>
						</accordion-heading>

						<div class="panel panel-default">
							<gantt-chart
								 items="tasks"
								 resourceconf="tasksGanttConf"
								 item-to-task-data-source="taskData(item)"
								 fetchingitems="fetchingTasks"
								 title="Tasks (Timer data)"
								 >
							</gantt-chart>
						</div>
						<!-- div panel -->

						<span class="pull-right hover-pointer" ng-show="ganttAccord.ganttOpen" ng-click="ganttAccord.ganttOpen = false"><icon id="chevron-up"></icon></span>
					</accordion-group>
					
				</accordion>

				<!-- <pie-chart items="tasks" fetchingitems="fetchingTasks" chart-config="pieChartConfig"></pie-chart> -->
 				<!-- <burn-down-chart items="tasks" fetchingitems="fetchingTasks" chart-config="burnDownChartConfig"></burn-down-chart> -->			
			</tab>
			<tab heading="Tasks">
				<tableactive items="tasks" fetchingitems="fetchingTasks" resourceconf="tasksConf" ></tableactive>
			</tab>
		</tabset>
	</div>
	<!-- Other Entities End -->

</div>
