<div id="container-project-face-view row">

	<!-- -------------------------------------------------- -->
	<!-- Project Header -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Project</strong>
			<action-icon class="pull-right" icon="edit" action="projectsCrudHelpers.edit(project.$id())" tip="Edit Project" invert="true"></action-icon>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Project Title, Description, Properties -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="media">
				<property-bar properties="project.attributeValuesToDisplay" root-div-class="media-object pull-right" reverse="true" ></property-bar>
				<div class="media-body">
					<label class="media-heading">{{project.name}}</label>
					<br /><div class="badge" ng-cloak><strong>{{project.$id()}}</strong></div>
				</div>
			</div>

			<!-- <span class="pull-left"><h4 class="media-heading">{{project.name}}</h4></span> -->

		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-body">
					<p>{{project.description}}</p>
					<!-- <a class="btn btn-primary media-object pull-right" role="button" ng-click="projectsCrudHelpers.edit(project.$id())" ng-cloak><icon id="edit"></icon> Edit Project</a> -->
				</div>
			</div>
		</div>
	</div>

	<accordion close-others="false">
		<accordion-group is-open="commentAccord.commentOpen" panel-class="success" ng-init="commentAccord = {commentOpen: false}">
			<accordion-heading>
				<span class="hover-pointer">Comments</span>
				<span class="pull-right hover-pointer" ng-show="!commentAccord.commentOpen"><icon id="chevron-down"></icon></span>
				<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen"><icon id="chevron-up"></icon></span>
			</accordion-heading>
			<comment resource-id="{{project.$id()}}" for-resource="projects" user-id="{{security.currentUser.ID}}"></comment>
			<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen" ng-click="commentAccord.commentOpen = false"><icon id="chevron-up"></icon></span>
		</accordion-group>

		<!-- <accordion-group-chevron heading="Comments" panel-class="success"> -->
		<!-- 	<comment resource-id="{{project.$id()}}" for-resource="projects" user-id="{{security.currentUser.ID}}"></comment> -->
		<!-- </accordion-group-chevron> -->
	</accordion>
	<accordion close-others="false">
		<accordion-group is-open="documentAccord.documentOpen" panel-class="success" ng-init="documentAccord = {documentOpen: false}">
			<accordion-heading>
				<span class="hover-pointer">Attach a Document</span>
				<span class="pull-right hover-pointer" ng-show="!documentAccord.documentOpen"><icon id="chevron-down"></icon></span>
				<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen"><icon id="chevron-up"></icon></span>
			</accordion-heading>
	<document resource-id="{{project.$id()}}" for-resource="projects"></document>
	<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen" ng-click="documentAccord.documentOpen = false"><icon id="chevron-up"></icon></span>
		</accordion-group>
	</accordion>

	<!-- -------------------------------------------------- -->
	<!-- Other Entities -->
	<!-- TODO: Implement this with ng-repeat or in separate template files -->
	<!-- -------------------------------------------------- -->

	<div class="panel panel-default">
		<tabset justified="true" type="pills" vertical="true">
		<!-- <tabset type="pills" vertical="true"> -->
			<tab heading="Dashboard">
				<div class="panel-body">

					<accordion close-others="true">

						<!-- Pie Charts -->
						<accordion-group is-open="pieOpen" panel-class="warning" ng-init="pieOpen = true">
							<accordion-heading>
								Break Downs
								<span class="pull-right hover-pointer" ng-show="!pieOpen"><icon id="chevron-down"></icon></span>
								<span class="pull-right hover-pointer" ng-show="pieOpen"><icon id="chevron-up"></icon></span>
							</accordion-heading>
							<pie-chart items="tasks" fetchingitems="fetchingTasks" chart-config="pieChartConfig"></pie-chart>
						</accordion-group>
						<!-- <accordion-group-chevron heading="Break Downs" panel-class="warning"> -->
						<!-- 	<pie-chart items="tasks" fetchingitems="fetchingTasks" chart-config="pieChartConfig"></pie-chart> -->
						<!-- </accordion-group-chevron> -->

						<!-- Burn down Charts -->
						<accordion-group is-open="burndownOpen" panel-class="warning" ng-init="burndownOpen = false">
							<accordion-heading>
 								Burn Downs
								<span class="pull-right hover-pointer" ng-show="!burndownOpen"><icon id="chevron-down"></icon></span>
								<span class="pull-right hover-pointer" ng-show="burndownOpen"><icon id="chevron-up"></icon></span>
							</accordion-heading>
							<!-- <burn-down-chart items="tasks" fetchingitems="fetchingTasks" chart-config="burnDownChartConfig"></burn-down-chart> -->
						</accordion-group>
						<!-- <accordion-group-chevron heading="Burn Downs" panel-class="warning"> -->
						<!-- <burn-down-chart items="tasks" fetchingitems="fetchingTasks" chart-config="burnDownChartConfig"></burn-down-chart> -->
						<!-- </accordion-group-chevron> -->

						<!-- Kanban Board -->
						<accordion-group is-open="kanbanOpen" panel-class="warning" ng-init="kanbanOpen = false">
							<accordion-heading>
								Kanban
								<span class="pull-right hover-pointer" ng-show="!kanbanOpen"><icon id="chevron-down"></icon></span>
								<span class="pull-right hover-pointer" ng-show="kanbanOpen"><icon id="chevron-up"></icon></span>
							</accordion-heading>
							<!-- <kanban items="tasks" fetchingitems="fetchingTasks" kanban-config="kanbanConfig"></kanban> -->
						</accordion-group>
						<!-- <accordion-group-chevron heading="Kanban" panel-class="warning"> -->
						<!-- </accordion-group-chevron> -->


						<!-- Gantt Charts -->
						<accordion-group is-open="ganttOpen" panel-class="warning" ng-init="ganttOpen = false">
							<accordion-heading>
								Time Lines
								<span class="pull-right hover-pointer" ng-show="!ganttOpen"><icon id="chevron-down"></icon></span>
								<span class="pull-right hover-pointer" ng-show="ganttOpen"><icon id="chevron-up"></icon></span>
							</accordion-heading>
							<div class="panel panel-default">
								<gantt-chart
									 items="sprints"
									 resourceconf="sprintsGanttConf"
									 fetchingitems="fetchingSprints"
									 update-validator="sprintsGanttUpdateValidator(item, update)"
									 title="Sprints"
									 >
								</gantt-chart>
							</div>
							<!-- div panel -->

							<div class="panel panel-default">
								<gantt-chart
									 items="tasks"
									 resourceconf="tasksGanttConf"
									 fetchingitems="fetchingTasks"
									 update-validator="tasksGanttUpdateValidator(item, update)"
									 title="Tasks"
									 >
								</gantt-chart>
							</div>
							<!-- div panel -->

							<!-- <div class="panel panel-default"> -->
							<!-- 	<gantt-chart -->
							<!-- 		 items="tasks" -->
							<!-- 		 resourceconf="tasksGanttConf2" -->
							<!-- 		 item-to-task-data-source="taskData(item)" -->
							<!-- 		 fetchingitems="fetchingTasks" -->
							<!-- 		 update-validator="tasksGanttUpdateValidator(item, update)" -->
							<!-- 	</gantt-chart> -->
							<!-- </div> -->
							<!-- div panel -->
						</accordion-group>
						<!-- <accordion-group-chevron heading="Time Lines" panel-class="warning"> -->
						<!-- 	<div class="panel panel-default"> -->
						<!-- 		<gantt-chart -->
						<!-- 			 items="sprints" -->
						<!-- 			 resourceconf="sprintsGanttConf" -->
						<!-- 			 fetchingitems="fetchingSprints" -->
						<!-- 			 update-validator="sprintsGanttUpdateValidator(item, update)" -->
						<!-- 			 title="Sprints" -->
						<!-- 			 > -->
						<!-- 		</gantt-chart> -->
						<!-- 	</div> -->
						<!-- 	<\!-- div panel -\-> -->

						<!-- 	<div class="panel panel-default"> -->
						<!-- 		<gantt-chart -->
						<!-- 			 items="tasks" -->
						<!-- 			 resourceconf="tasksGanttConf" -->
						<!-- 			 fetchingitems="fetchingTasks" -->
						<!-- 			 update-validator="tasksGanttUpdateValidator(item, update)" -->
						<!-- 			 title="Tasks" -->
						<!-- 			 > -->
						<!-- 		</gantt-chart> -->
						<!-- 	</div> -->
						<!-- </accordion-group-chevron> -->

						<!-- Scrum Updates -->
						<accordion-group is-open="scrumOpen" panel-class="warning" ng-init="scrumOpen = false" style="overflow: visible;">
							<accordion-heading>
								Scrum Updates
								<span class="pull-right hover-pointer" ng-show="!scrumOpen"><icon id="chevron-down"></icon></span>
								<span class="pull-right hover-pointer" ng-show="scrumOpen"><icon id="chevron-up"></icon></span>
							</accordion-heading>
							<!--
								Adding scrum update
							-->
							<div class="row">
								<div class="col-md-8">
									<datecombofromto
										name="dateCombo"
										from-date="scrumDates.startdate"
										to-date="scrumDates.enddate"
										from-date-label="Start Date"
										to-date-label="End Date"
										from-date-required="true"
										to-date-required="true">
									</datecombofromto>
								</div>
								<div class="col-md-4">
									<label>Select User</label>
									<select class="form-control" ng-model="scrumDates.chosenUser">
										<option value="showall" selected="selected">Show All</option>
										<option ng-repeat="user in scrumusers" value="{{user.$id()}}"> {{user.username}} </option> 
									</select>
								</div>
							</div>
							<div class="row" ng-show="scrumDates.chosenUser && scrumDates.chosenUser != 'showall'">
								<div class="col-md-3">
									<img style="width: 100%;height: 100%;"class="media-object photo-small pull-left" src="/static/img/foouser.jpg">
								</div>
								<div class="col-md-9">
									<table>
										<tr>
											<scrumupdatecalendar
												label="Scrum Status"
												update="updateStatus"
												datechosen="scrumDates.chosenDate">
											</scrumupdatecalendar>
										</tr>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="planVal">Show Plan
									</label>
								</div>
								<div class="col-md-4">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="updateVal">Show Update
									</label>
								</div>
								<div class="col-md-4">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="impedimentVal">Show Impediments
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4" >
									<div ng-show="planVal">
										<div class="media" ng-repeat="dateGroup in groupedScrumUpdates">
											<div class="media-heading">
												<span class = "text-primary">
													{{dateGroup.key | momentsAgo}}
												</span>
											</div>
											<div class="media-body">
												<div class="media" ng-repeat="update in dateGroup.values">
													<div class="media-heading">
														<span ng-if="update.text != 'undefined'">
															{{update.text}}
														</span>
														<span ng-if="taskGroup.key == 'undefined'">
															No Update
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4" >
									<div ng-show="updateVal">
										<div class="media" ng-repeat="dateGroup in groupedScrumUpdates">
											<div class="media-heading">
												<span class = "text-primary">
													{{dateGroup.key | momentsAgo}}
												</span>
											</div>
											<div class="media-body">
												<div class="media" ng-repeat="update in dateGroup.values">
													<div class="media-heading">
														<span ng-if="update.plan != undefined">
															{{update.plan}}
														</span>
														<span ng-if="update.plan == undefined">
															No Update
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4" >
									<div ng-show="impedimentVal">
										<div class="media" ng-repeat="dateGroup in groupedScrumUpdates">
											<div class="media-heading">
												<span class = "text-primary">
													{{dateGroup.key | momentsAgo}}
												</span>
											</div>
											<div class="media-body">
												<div class="media" ng-repeat="update in dateGroup.values">
													<div class="media-heading">
														<span ng-if="update.impediments != undefined">
															{{update.impediments}}
														</span>
														<span ng-if="update.impediments == undefined">
															No Update
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- <comment resource-id="{{project.$id()}}" for-resource="projects" user-id="{{security.currentUser.ID}}"></comment> -->
							<span class="pull-right hover-pointer" ng-show="scrumOpen"><icon id="chevron-up"></icon></span>
						</accordion-group>
						<!-- <accordion-group-chevron heading="Scrum Updates" panel-class="warning"> -->
						<!-- </accordion-group-chevron> -->

					</accordion>

				</div>
				<!-- div panel body -->
			</tab>

			<tab heading="Product Backlog">
				<tableactive items="backlogItems" fetchingitems="fetchingBacklogItems" resourceconf="backlogItemsConf" ></tableactive>
			</tab>

			<tab heading="Sprints">
				<tableactive items="sprints" fetchingitems="fetchingSprints" resourceconf="sprintsConf" ></tableactive>
			</tab>

			<tab heading="Tasks">
				<tableactive items="tasks" fetchingitems="fetchingTasks" resourceconf="tasksConf" ></tableactive>
			</tab>

			<tab heading="Team">
				<div class="panel-body">

					<!-- Scrum Master and Team Members -->
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-4">
								<users
									 label="Scrum Master"
									 users="[scrumMaster]"
									 collectionName="scrumMaster"
									 init-options="usersConf"
									 fetching-users="fetchingScrumMaster"
									 >
								</users>
							</div>
							<!-- div col -->
							<div class="col-md-8">
								<users
									 label="Team"
									 users="teamMembers"
									 collectionName="teamMembers"
									 init-options="usersConf"
									 fetching-users="fetchingTeamMembers"
									 >
								</users>
							</div>
							<!-- div col -->
						</div>
						<!-- div panel body -->
					</div>
					<!-- div panel -->

					<!-- Product Owner and Stake Holders -->
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-4">
								<users
									 label="Product Owner"
									 users="[productOwner]"
									 collectionName="productOwner"
									 init-options="usersConf"
									 fetching-users="fetchingProductOwner"
									 >
								</users>
							</div>
							<!-- div col -->
							<div class="col-md-8">
								<users
									 label="Stake Holders"
									 users="stakeHolders"
									 collectionName="stakeHolders"
									 init-options="usersConf"
									 fetching-users="fetchingStakeHolders"
									 >
								</users>
							</div>
							<!-- div col -->
						</div>
						<!-- div panel body -->
					</div>
					<!-- div panel -->

				</div>
				<!-- div panel body -->
			</tab>

		</tabset>
	</div>
	<!-- Other Entities End -->

</div>
