<div id="container-task-itemview">

	<!-- -------------------------------------------------- -->
	<!-- Task Header -->
	<!-- -------------------------------------------------- -->
 	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Task</strong>
			<action-icon class="pull-right" icon="edit" action="tasksCrudHelpers.edit(task.$id())" tip="Edit Task" invert="true"></action-icon>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Task Title, Description, Properties -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="media">
				<property-bar properties="task.attributeValuesToDisplay" root-div-class="media-object pull-right" reverse="true" ></property-bar>
				<div class="media-body">
					<label class="media-heading">{{task.name}}</label>
					<br /><div class="badge" ng-cloak><strong>{{task.$id()}}</strong></div>
				</div>
			</div>

		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-body">
					<p>{{task.description}}</p>
					<!-- <a class="btn btn-primary media-object pull-right" role="button" ng-click="tasksCrudHelpers.edit(task.$id())" ng-cloak><icon id="edit"></icon> Edit Task</a> -->
				</div>
			</div>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Other Entities -->
	<!-- TODO: Implement this with ng-repeat or in separate template files -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<tabset justified="true" type="pills">
			<tab heading="Dashboard">
				<div class="panel-body">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-body">

								<form role="form" class="form-inline pull-left">
									<div class="form-group">
										<!-- <span class="help-block">Action</span> -->
										<div class="btn-group">
											<button class="btn btn-default btn-lg" ng-show="!timerRunning" ng-click="startTimer()"><icon id="play"></icon></button>
											<button class="btn btn-default btn-lg" ng-show="timerRunning" ng-click="stopTimer()"><icon id="stop"></icon></button>
											<span class="timer">
 												{{clock | date:'mediumTime'}}
												<icon id="record"></icon>
 												<!-- {{timer | date:'yyyy MM dd HH::mm::ss .sss'}} -->
 												<!-- {{timer}} -->
 												<span ng-show="!!timer">{{timer | stopWatch}}</span>
											</span>
											<!-- <button class="btn btn-default btn-lg" ng-click="addSamples()"><icon id="pause"></icon></button> -->
										</div>
									</div>
								</form>
								
							</div>
							<!-- div panel body -->
						</div>
						<!-- div panel -->
					</div>
					<!-- div col -->
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<gantt-chart
									 items="tasks"
									 resourceconf="tasksGanttConf2"
									 item-to-task-data-source="taskData(item)"
									 fetchingitems="fetchingTasks"
									 update-validator="tasksGanttUpdateValidator(item, update)"
									 >
								</gantt-chart>

							</div>
						</div>
					</div>
					<!-- div col -->
					
				</div>
				<!-- div panel body -->
			</tab>
			<tab heading="Comments">
				<tableactive items="task.comments" fetchingitems="fetchingComments" resourceconf="commentsConf" ></tableactive>
			</tab>
		</tabset>
	</div>
	<!-- Other Entities End -->

</div>
