<div id="container-task-itemview">

	<!-- -------------------------------------------------- -->
	<!-- Task Header -->
	<!-- -------------------------------------------------- -->
 	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>Task</strong>
			<action-icon class="pull-right" icon="edit" action="tasksCrudHelpers.edit(task.$id())" tip="Edit Task" invert="true"></action-icon>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Task Title, Description, Properties -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="media">
				<property-bar properties="task.attributeValuesToDisplay" root-div-class="media-object pull-right" reverse="true"></property-bar>
				<div class="media-body">
					<label class="media-heading">{{task.name}}</label>
					<br /><div class="badge" ng-cloak><strong>{{task.$id()}}</strong></div>
				</div>
			</div>

		</div>
		<div class="panel-body">
			<div class="media">
				<div class="media-body">
					<p>{{task.description}}</p>
					<!-- <a class="btn btn-primary media-object pull-right" role="button" ng-click="tasksCrudHelpers.edit(task.$id())" ng-cloak><icon id="edit"></icon> Edit Task</a> -->
				</div>
			</div>
		</div>
	</div>

	<!-- -------------------------------------------------- -->
	<!-- Comments -->
	<!-- -------------------------------------------------- -->
	<accordion close-others="false">
		<accordion-group is-open="commentAccord.commentOpen" panel-class="success" ng-init="commentAccord = {commentOpen: false}">
			<accordion-heading>
				<span class="hover-pointer">Comments</span>
				<span class="pull-right hover-pointer" ng-show="!commentAccord.commentOpen"><icon id="chevron-down"></icon></span>
				<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen"><icon id="chevron-up"></icon></span>
			</accordion-heading>
			<comment resource-id="{{task.$id()}}" for-resource="tasks" user-id="{{security.currentUser.ID}}"></comment>
			<span class="pull-right hover-pointer" ng-show="commentAccord.commentOpen" ng-click="commentAccord.commentOpen = false"><icon id="chevron-up"></icon></span>
		</accordion-group>
		<!-- <accordion-group-chevron heading="Comments" panel-class="success"> -->
		<!-- 	<comment resource-id="{{project.$id()}}" for-resource="projects" user-id="{{security.currentUser.ID}}"></comment> -->
		<!-- </accordion-group-chevron> -->
	</accordion>

	<!-- -------------------------------------------------- -->
	<!-- Attachments -->
	<!-- -------------------------------------------------- -->
	<accordion close-others="false">
		<accordion-group is-open="documentAccord.documentOpen" panel-class="success" ng-init="documentAccord = {documentOpen: false}">
			<accordion-heading>
				<span class="hover-pointer">Attach a Document</span>
				<span class="pull-right hover-pointer" ng-show="!documentAccord.documentOpen"><icon id="chevron-down"></icon></span>
				<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen"><icon id="chevron-up"></icon></span>
			</accordion-heading>
			<document resource-id="{{task.$id()}}" for-resource="tasks"></document>
			<span class="pull-right hover-pointer" ng-show="documentAccord.documentOpen" ng-click="documentAccord.documentOpen = false"><icon id="chevron-up"></icon></span>
		</accordion-group>
	</accordion>

	<!-- -------------------------------------------------- -->
	<!-- Task Timer -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<div class="panel-body" ng-class="{'bg-danger': timerRunning, 'bg-warning': !timerRunning}">
			<div class="media" ng-class="{'text-danger': timerRunning, 'text-muted': !timerRunning}">
				<div class="media-object pull-left">
					<button class="btn btn-success btn-lg" id="playpause" ng-show="!timerRunning" ng-click="startTimer(beforeTimerStart)"><icon id="play"></icon></button>
					<button class="btn btn-danger btn-lg" id="playpause" ng-show="timerRunning" ng-click="stopTimer(beforeTimerStop)"><icon id="stop"></icon></button>
					<!-- <button class="btn btn-default btn-lg" ng-click="addSamples()"><icon id="pause"></icon></button> -->

					<span class="timer text-center">
 						<span ng-show="!!timer">{{timer | stopWatch}}</span>
						<span ng-show="timerRunning"><img src="/static/img/spinner.gif"></span>
 						<!-- {{timer | date:'yyyy MM dd HH::mm::ss .sss'}} -->
 						<!-- {{timer}} -->
					</span>
				</div>

				<div class="media-object pull-right">
					<span class="timer">
						<icon id="time"></icon> {{clock | date:'mediumTime'}}
					</span>

				</div>
			</div>
			<!-- div media -->

		</div>
		<!-- div panel body -->
	</div>
	<!-- div panel -->

	<!-- -------------------------------------------------- -->
	<!-- Other Entities -->
	<!-- TODO: Implement this with ng-repeat or in separate template files -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">

						<form role="form" class="form-inline pull-left">
							<div class="form-group">
								<!-- <span class="help-block">Action</span> -->
								<div class="btn-group">
									<!-- <button class="btn btn-default btn-lg" ng-show="!timerRunning" ng-click="startTimer()"><icon id="play"></icon></button> -->
									<!-- <button class="btn btn-default btn-lg" ng-show="timerRunning" ng-click="stopTimer()"><icon id="stop"></icon></button> -->
									<button class="btn btn-default btn-lg" ng-show="!timerRunning" ng-click="startTimer2(beforeTimerStart)"><icon id="play"></icon></button>
									<button class="btn btn-default btn-lg" ng-show="timerRunning" ng-click="stopTimer2(beforeTimerStop)"><icon id="stop"></icon></button>
									<span class="timer">
 										{{clock | date:'mediumTime'}}
										<icon id="record"></icon>
 										<!-- {{timer | date:'yyyy MM dd HH::mm::ss .sss'}} -->
 										<!-- {{timer}} -->
 										<span ng-show="!!timer">{{timer | stopWatch}}</span>
									</span>
									<!-- <button class="btn btn-default btn-lg" ng-click="addSamples()"><icon id="pause"></icon></button> -->
								</div>
							</div>
						</form>
						
					</div>
					<!-- div panel body -->
				</div>
				<!-- div panel -->
			</div>
			<!-- div col -->
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<gantt-chart
							 items="[task]"
							 title="Timeline"
							 resourceconf="tasksGanttConf2"
							 item-to-task-data-source="taskData(item)"
							 fetchingitems="fetchingTasks"
							 >
						</gantt-chart>

					</div>
					<!-- div panel body -->
				</div>
				<!-- div panel -->
			</div>
			<!-- div col -->

			<!-- </div> -->
			<!-- <\!-- div panel -\-> -->

			<!-- 				</accordion-group> -->

			<!-- 				<\!-- -------------------------------------------------- -\-> -->
			<!-- 				<\!-- Pie Charts -\-> -->
			<!-- 				<\!-- -------------------------------------------------- -\-> -->
			<!-- 				<accordion-group is-open="pieAccord.pieOpen" panel-class="warning" ng-init="pieAccord = {pieOpen: false}"> -->
			<!-- 					<accordion-heading> -->
			<!-- 						<span class="hover-pointer">Break Downs</span> -->
			<!-- 						<span class="pull-right hover-pointer" ng-show="!pieAccord.pieOpen"><icon id="chevron-down"></icon></span> -->
			<!-- 						<span class="pull-right hover-pointer" ng-show="pieAccord.pieOpen"><icon id="chevron-up"></icon></span> -->
			<!-- 					</accordion-heading> -->
 			<!-- 					<\!-- <pie-chart items="tasks" fetchingitems="fetchingTasks" chart-config="pieChartConfig"></pie-chart> -\-> -->
			<!-- 					<span class="pull-right hover-pointer" ng-show="pieAccord.pieOpen" ng-click="pieAccord.pieOpen = false"><icon id="chevron-up"></icon></span> -->
			<!-- 				</accordion-group> -->

			<!-- 			</accordion> -->

			<!-- 	</tab> -->

			<!-- 	<\!--<tab heading="Comments"> -->
			<!-- 		<tableactive items="task.comments" fetchingitems="fetchingComments" resourceconf="commentsConf" ></tableactive> -->
			<!-- 	<\!--</tab>-\-> -->

			<!-- </tabset> -->
		</div>
		<!-- Other Entities End -->

	</div>
