<button type="button" class="btn btn-primary btn-block" ng-click="new()">New Task</button>

<hr />

<table class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Estimation</th>
        <th>Remaining</th>
        <th>Start Date (Estimated)</th>
        <th>End Date (Estimated)</th>
        <!-- <th class="span2">Tools</th> -->
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in tasks" ng-click="view(task.$id())">
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <td>{{task.estimation}}</td>
        <td>{{task.remaining}}</td>
        <td>{{task.estimatedStartDate | date:'mediumDate'}}</td>
        <td>{{task.estimatedEndDate | date:'mediumDate'}}</td>
    </tr>
    <tr ng-show="!tasks.length">
        <td colspan="4">No tasks defined</td>
    </tr>
    </tbody>
</table>
