
<div class="row" >
	<div class="col-md-12">
		<span class="col-md-12" ng-show="fetchingComments">Fetching Comments...
			<a href="#"><img src="/static/img/spinner.gif"></a>
		</span>	
		<span class="col-md-12" ng-show="!comments.length && !fetchingComments">
			No Comments found
		</span>
		
		<div class="media" ng-repeat="comment in comments">

			<img class="media-object photo-small pull-left" src="/static/img/foouser.jpg">
			<div class="media-body"> 
				<div class="media-heading"> 
					<span class = "text-primary">
						{{comment.createdBy}}
					</span>
					<span class="text-muted small">
						{{comment.timeStampDate}}
					</span>
				</div>											      
				<p class="pre-wrap" ng-bind-html="comment.text"></p>

			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class='btn-group pull-right'>
					<button type="button" class="btn btn-default" ng-click="addComment(newcomment)"  tooltip="Post Comment" tooltip-placement='bottom'><icon id="plus-sign"></icon></button>
					<button type="button" class="btn btn-default" ng-click="clearComment(resource)"  tooltip="Clear the text area" tooltip-placement='bottom'><icon id="unchecked"></icon></button>
				</div>	
			</div>
		</div>
		<p>
			<div class='form-group block'>			
				<textarea class="form-control" ng-model="newcomment" placeholder="Add your comments here" cols="8" rows="" id="comments" >
				</textarea>
			</div>
		</p>
		
	</div>
	<!-- div col -->
</div>