<ng-form>
	<div class="form-group" ng-class="setValidationClasses()">
		<label for="dateField">{{label}}</label>
		<div class="input-group">
			<input type="text" name="dateField" id="dateField" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" date-custom-class="dateCustomClass(date, mode)" ng-required="required" close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)"><icon id="calendar"></icon></button>
			</span>
		</div>
		<span class="help-block" ng-show="showError('date')" >{{label}} is invalid. Please enter a valid date.</span>
		<span class="help-block" ng-show="showError('date-disabled')" >{{label}} should be a business date.</span>
		<span class="help-block" ng-show="showError('required') && !showError('date')" >{{label}} is required</span>
	</div>
</ng-form>
