<div id="container-user-face-view row-fluid">

	<!-- -------------------------------------------------- -->
	<!-- User Header -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>User</strong>
		</div>
	</div>


	<!-- -------------------------------------------------- -->
	<!-- User scrum update, Dev estimate -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<div class="panel-body">
			<img class="media-object photo-small pull-left" src="/static/img/foouser.jpg">
				<div class="media-body"> 
					<div class="media-heading">
						{{user.lastName}} {{user.firstName}} ({{user.email}})
					</div>
					<p></p>
				</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<tabset justified="true" type="pills">
				<tab heading="Scrum Updates">
					<div class="col-md-6">
						<label>
							Scrum Updates
						</label>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="panel">
									<div class="panel-body">
										<datecombofromto
											 name="dateCombo"
											 from-date="scrumDates.startdate"
											 to-date="scrumDates.enddate"
											 from-date-label="Start Date"
											 to-date-label="End Date"
											 from-date-required="true"
											 to-date-required="true">
										</datecombofromto>
									</div>
							        <!--<button type="button" class="btn btn-primary btn-block" ng-click="filter(startdate, enddate)">Filter</button>-->
								</div>
								<div class="media" ng-repeat="update in scrumupdates | filter:dateRangeFilter">
									<div class="media-heading">
										Date: {{update.date}}
									</div>
									<div class="media-body"> 
										{{update.text}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<label>
							Add Scrum Update
						</label>
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="media" ng-repeat="task in tasks">
									<property-bar properties="task.propertiesToDisplay" root-div-class="media-object pull-left" reverse="false" ></property-bar>
									<!--
									<div class="btn-group">
										<button type="button" class="btn btn-default btn-warning" ng-click="saveScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Save scrum update"><icon id="plus-sign"></icon></button>
										<button type="button" class="btn btn-default btn-warning" ng-click="clearScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Clear the text area"><icon id="unchecked"></button>
										<button type="button" class="btn btn-default btn-warning" ng-click="closeScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Close the text area"><icon id="trash"></icon></button>
									</div>
									-->
									<button ng-click="addScrumUpdate(task)" class="btn btn-success media-object pull-right" ng-show="task.showAddButton" tooltip="Add a scrum update for this task">
										<icon id="comment"></icon>
									</button>									

									<div class="media-body">
										<div class="media-heading">
											<a href="#" tooltip="{{task.Description}}">
												{{task.Name}}
											</a>
					
										</div>

										<div class='btn-group pull-right'>
												<button type="button" class="btn btn-default" ng-click="saveScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Save scrum update" tooltip-placement='bottom'><icon id="plus-sign"></icon></button>
												<button type="button" class="btn btn-default" ng-click="clearScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Clear the text area" tooltip-placement='bottom'><icon id="unchecked"></button>
												<button type="button" class="btn btn-default" ng-click="closeScrumUpdate(task)" ng-show="!task.showAddButton" tooltip="Discard the scrum update" tooltip-placement='bottom'><icon id="trash"></icon></button>
										</div>
										<p><div class='form-group block'>
											
										<textarea class="form-control" ng-model="task.scrumText" placeholder="Add your update here" cols="10" rows="5" ng-show="!task.showAddButton">
										</textarea>
										</div></p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>