<div class="bordered bordered-hover">
	<button class="btn-block" ng-click="new()"><h4>New User</h4></button>	
</div>

<hr />

<table class="table table-bordered-outer table-condensed table-striped-color table-hover">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Username</th>
        <th>Last name</th>
        <th>First name</th>
        <!-- <th></th> -->
    </tr>
    </thead>
    <tbody>
    <!-- <tr ng-repeat="user in users" ng-click="edit(user.$id())"> -->
    <!--     <td><gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar></td> -->
    <!--     <td>{{user.email}}</td> -->
    <!--     <td>{{user.lastName}}</td> -->
    <!--     <td>{{user.firstName}}</td> -->
    <!--     <td><button class="btn btn-danger remove" ng-click="remove(user, $index, $event)">Remove</button></td> -->

    <!-- </tr> -->
    <tr ng-repeat="user in users" ng-click="view(user.$id())">
        <td><gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar></td>
        <td>{{user.username}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <!-- <td><button class="btn btn-danger remove" ng-click="remove(user, $index, $event)">Remove</button></td> -->
    </tr>
    </tbody>
</table>

<!-- <div class="well"> -->
<!--     <button class="btn" ng-click="new()">New User</button> -->
<!-- </div> -->
