<button type="button" class="btn btn-primary btn-block" ng-click="new()">New User</button>

<hr />

<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th class="col-md-3">&nbsp;</th>
            <th class="col-md-3">Username</th>
            <th class="col-md-3">Last Name</th>
            <th class="col-md-3">First Name</th>
        </tr>
    <tbody>
        <tr ng-repeat="user in users" ng-click="view(user.$id())">
            <td><gravatar email="user.username" size="50" default-image="/hive/get-user-photo/{{user.userName}}"></gravatar></td>
            <td>{{user.username}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.firstName}}</td>
        </tr>
    </tbody>
</table>

<!-- <div class="well"> -->
<!--     <button class="btn" ng-click="new()">New User</button> -->
<!-- </div> -->
