<div id="container-user-face-view row-fluid">

	<!-- -------------------------------------------------- -->
	<!-- User Header -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<strong>User</strong>
		</div>
	</div>


	<!-- -------------------------------------------------- -->
	<!-- User scrum update, Dev estimate -->
	<!-- -------------------------------------------------- -->
	<div class="panel panel-default">
		<div class="panel-body">
			<img class="media-object photo-small pull-left" src="/static/img/foouser.jpg">
				<div class="media-body"> 
					<div class="media-heading">
						userFullName (user name)
					</div>
					<p></p>
				</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<tabset justified="true" type="pills">
				<tab heading="Dashboard">
					<div class="col-md-6">		  
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Scrum Updates</strong>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="panel">
										<div class="panel-body">
											<datecombofromto
												 name="dateCombo"
												 from-date="startdate"
												 to-date="enddate"
												 from-date-label="Start Date"
												 to-date-label="End Date"
												 from-date-required="true"
												 to-date-required="true">
											</datecombofromto>
										</div>
								        <button type="button" class="btn btn-primary btn-block" ng-click="filter(startdate, enddate)">Filter</button>
									</div>
									<div class="media" ng-repeat="update in scrumupdates">
										<div class="media-heading">
											Date: {{update.date}}
										</div>
										<div class="media-body"> 
											{{update.text}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Add Scrum Update</strong>
							</div>
							<div class="panel-body">
								<div class="media" ng-repeat="task in tasks">
									<property-bar properties="task.propertiesToDisplay" root-div-class="media-object pull-left" reverse="false" ></property-bar>
									<button ng-click="addScrumUpdate(task)" class="btn btn-success media-object pull-right" ng-show="task.showAddButton" tooltip="Add a scrum update for this task">
										<icon id="comment"></icon>
									</button>
									<button ng-click="saveScrumUpdate(task)" class="btn btn-warning media-object pull-right" ng-show="!task.showAddButton" tooltip="Done">
										<icon id="thumbs-up"></icon>
									</button>
									<div class="media-body">
										<div class="media-heading">
											<a href="#" tooltip="{{task.Description}}">
												{{task.Name}}
											</a>
										</div>
										<textarea class="form-control media-object" ng-model="newcomment" placeholder="Add your update here" cols="10" rows="5" ng-show="!task.showAddButton">
										</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="Scrum Updates">
				</tab>
			</tabset>
		</div>
	</div>
</div>