<div class="{{rootDivClass}}">
	<div class="form-group">
		<div class="form-group has-feedback">
			<label>Find People <helptip tip="Search for and add team members from here" icon="info-sign" ></helptip></label>
			<input type="text" id="query" ng-model="query" ng-change="getCandidatesByName(query)" class="form-control" placeholder="Search for people to add as team members ... ">

			<!-- <input type="text" id="query" ng-model="query" typeahead="user.$id() as user.getFullName() for user in getCandidatesByName($viewValue) | orderBy:'lastName'" typeahead-loading="loadingUsers" typeahead-on-select="onSelect($item, $model, $label)" class="form-control" placeholder="Search for people to add as team members ... "> -->
			<!-- <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh form-control-feedback"></i> -->
			<!-- <span ng-show="loadingUsers" class="glyphicon glyphicon-refresh form-control-feedback"></span> -->

			<span class="form-control-feedback" ng-show="loadingUsers"><img src="/static/img/spinner.gif"></span>
			<span class="help-block" ng-show="noUsersFound" >No matching users for "{{query}}"</span>
		</div>
		<!-- <input type="text" class="form-control" id="query" ng-model="query" ng-disabled="!items.length" placeholder="Search for people to add as team members ... "/> -->
	</div>

	<userthumb 
		 user="user" 
		 action="addAction({user: user})" 
		 action-name="{{addActionName}}" 
		 action-icon="plus-sign" 
		 action-button-class="btn-success" 
		 ng-repeat="user in candidates(users) | orderBy:'lastName'">
	</userthumb>
		 <!-- ng-repeat="user in teamMemberCandidates(teamMemberAutocomplete) | orderBy:'lastName'"> -->

	<userthumb
		 user="user" 
		 action-name="{{inListActionName}}" 
		 action-icon="thumbs-up" 
		 action-button-class="btn-success" 
		 action-disabled="true" 
		 ng-repeat="user in members(users) | orderBy:'lastName'">
	</userthumb>
		 <!-- ng-repeat="user in teamMemberAlready(teamMemberAutocomplete) | orderBy:'lastName'"> -->

	<!-- <div class="thumbnail thumbnail-user"> -->
	<!-- 	<img src="/static/img/foouser.jpg" class="photo"> -->
	<!-- 	<\!-- <gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar> -\-> -->
	<!-- 	<div class="caption"> -->
	<!-- 		<p>{{ user.getFullName() }}</p> -->
	<!-- 		<p> -->
	<!-- 			<\!-- <button class="btn btn-xs btn-success" ng-click="addTeamMember(user.$id())"> -\-> -->
	<!-- 			<\!-- <button class="btn btn-xs {{actionButtonClass}}" ng-click="action({userId: user.$id()})" ng-disabled="{{actionDisabled}}"> -\-> -->
	<!-- 			<button class="btn btn-xs {{actionButtonClass}}" ng-click="action({user: user})" ng-disabled="{{actionDisabled}}"> -->
	<!-- 				<span class="glyphicon glyphicon-{{actionIcon}}"></span> {{actionName}} -->
	<!-- 			</button> -->
	<!-- 		</p> -->
	<!-- 	</div> -->
	<!-- </div> -->
</div>


