<div class="panel panel-default">
	<div class="panel-heading">
		<legend>
			Project
			<span class="pull-right hover-pointer" ng-click="projectscrudhelpers.view(project.$id())" ng-cloak><i class="icon-circle-arrow-left"></i><a>Back</a></span>
		</legend>
	</div>

	<!-- <form name="form"> -->
	<form name="form" crud-edit="project">

		<div class="panel-body">
			<!-- row -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="project.name" required autofocus>
					</div>

					<div class="form-group">
						<label>Description</label>
						<textarea rows="10" cols="10" name="description" class="form-control" ng-model="project.description">
						</textarea>
					</div>
				</div>

				<div class="col-md-6">

					<datecombofromto
						 name="dateCombo"
						 from-date="project.startdate"
						 to-date="project.enddate"
						 from-date-label="Start Date"
						 to-date-label="End Date"
						 from-date-required="true"
						 to-date-required="true">
					</datecombofromto>

					<!-- </div> -->

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Project Profile</label>
								<input type="number" name="projectProfileID" class="form-control" ng-model="project.projectProfile.ID" required>
							</div>

							<div class="form-group">
								<label>Priority</label>
								<input type="number" name="priority" class="form-control" ng-model="project.priority" required>
							</div>

							<div class="form-group">
								<label>Estimation</label>
								<input type="number" name="weight" class="form-control" ng-model="project.weight" required>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- row -->

			<div ng-controller="TeamMembersController">
				<!-- row -->
				<div class="row">
					<div class="col-md-6" >

						<div class="form-group">
							<label>Product Owner</label>
							<select class="form-control " ng-model="project.productOwner"
									ng-options="user.$id() as user.getFullName() for user in productOwnerCandidates()" required>
								<option value="">-- choose --</option>
							</select>
						</div>

						<!-- <label>Development Team</label> -->
						<!-- <table class="table table-bordered table-condensed table-striped table-hover"> -->
						<!-- 	<\!-- <thead> -\-> -->
						<!-- 	<\!-- <tr> -\-> -->
						<!-- 	<\!--     <th>User</th> -\-> -->
						<!-- 	<\!--     <th>&nbsp;</th> -\-> -->
						<!-- 	<\!-- </tr> -\-> -->
						<!-- 	<\!-- </thead> -\-> -->
						<!-- 	<tbody> -->
						<!-- 		<\!-- <tr ng-repeat="userId in project.teamMembers"> -\-> -->
						<!-- 		<\!-- 	<\\!-- <td>{{usersLookup[userId].getFullName()}}</td> -\\-> -\-> -->
						<!-- 		<\!-- 	<th>{{usersLookup[userId].getFullName()}}</th> -\-> -->
						<!-- 		<\!-- 	<td> -\-> -->
						<!-- 		<\!-- 		<button class="btn btn-xs btn-danger" ng-click="removeTeamMember(userId)">Remove</button> -\-> -->
						<!-- 		<\!-- 	</td> -\-> -->
						<!-- 		<\!-- </tr> -\-> -->
						<!-- 		<\!-- <tr> -\-> -->
						<!-- 		<\!-- 	<td> -\-> -->
						<!-- 		<\!-- 		<\\!-- <select class="col-md-6" ng-model="selTeamMember" -\\-> -\-> -->
						<!-- 		<\!-- 		<select ng-model="selTeamMember" -\-> -->
						<!-- 		<\!-- 				ng-options="user.$id() as user.getFullName() for user in teamMemberCandidates()"> -\-> -->
						<!-- 		<\!-- 		</select> -\-> -->
						<!-- 		<\!-- 	</td> -\-> -->
						<!-- 		<\!-- 	<td> -\-> -->
						<!-- 		<\!-- 		<button class="btn btn-sm btn-success" ng-click="addTeamMember(selTeamMember)" ng-disabled="!selTeamMember">Add -\-> -->
						<!-- 		<\!-- 		</button> -\-> -->
						<!-- 		<\!-- 	</td> -\-> -->
						<!-- 		<\!-- </tr> -\-> -->
						<!-- 	</tbody> -->
						<!-- </table> -->


					</div>

					<div class="col-md-6">

						<div class="form-group">
							<label>Scrum Master</label>
							<select class="form-control" ng-model="project.scrumMaster"
									ng-options="user.$id() as user.getFullName() for user in scrumMasterCandidates()" required>
								<option value="">-- choose --</option>
							</select>
						</div>

						<!-- <label>Stake Holders</label> -->
						<!-- <table class="table table-bordered table-condensed table-striped table-hover"> -->
						<!-- 	<thead> -->
						<!-- 		<tr> -->
						<!-- 			<th>User</th> -->
						<!-- 			<th>&nbsp;</th> -->
						<!-- 		</tr> -->
						<!-- 	</thead> -->
						<!-- 	<tbody> -->
						<!-- 		<tr ng-repeat="userId in project.stakeHolders"> -->
						<!-- 			<td>{{usersLookup[userId].getFullName()}}</td> -->
						<!-- 			<td> -->
						<!-- 				<button class="btn btn-small" ng-click="removeStakeHolder(userId)">Remove</button> -->
						<!-- 			</td> -->
						<!-- 		</tr> -->
						<!-- 		<tr> -->
						<!-- 			<td><select class="col-md-6" ng-model="selStakeHolder" -->
						<!-- 						ng-options="user.$id() as user.getFullName() for user in stakeHolderCandidates()"></select> -->
						<!-- 			</td> -->
						<!-- 			<td> -->
						<!-- 				<button class="btn btn-small" ng-click="addStakeHolder(selStakeHolder)" ng-disabled="!selStakeHolder">Add -->
						<!-- 				</button> -->
						<!-- 			</td> -->
						<!-- 		</tr> -->
						<!-- 	</tbody> -->
						<!-- </table> -->
						<!-- hp -->
					</div>

				</div>
				<!-- row -->

					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Build Team</label>
						</div>
						<div class="panel-body">
							<div class="col-md-6">
								<!-- <div class="form-group"> -->
									<div class="panel panel-default">
										<div class="panel-body">
											<div class="form-group">
												<label>Team <helptip tip="Build your team by adding members from the right" icon="info-sign" ></helptip></label>
												<div class="team-container">
													<userthumb 
														 user="user" 
														 action="removeTeamMember(user)" 
														 action-name="Remove" 
														 action-icon="remove-sign" 
														 action-button-class="btn-warning" 
														 ng-repeat="user in getUsers(project.teamMembers) | orderBy:'lastName'">
													</userthumb>

													<!-- <div class="thumbnail thumbnail-user"  ng-repeat="user in getUsers(project.teamMembers) | orderBy:'lastName'"> -->
													<!-- 	<img src="/static/img/foouser.jpg" class="photo"> -->
													<!-- 	<\!-- <gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar> -\-> -->
													<!-- 	<div class="caption"> -->
													<!-- 		<p>{{ user.getFullName() }}</p> -->
													<!-- 		<p> -->
 													<!-- 			<button class="btn btn-xs btn-warning" ng-click="removeTeamMember(user.$id())"> -->
													<!-- 				Remove <span class="glyphicon glyphicon-hand-right"></span> -->
													<!-- 			</button> -->
													<!-- 		</p> -->
													<!-- 	</div> -->
													<!-- </div> -->

												</div>
											</div>
											<!-- form-group -->
										</div>
										<!-- panel-body -->
									</div>
									<!-- panel -->
  								<!-- </div> -->
								<!-- <\!-- form-group -\-> -->
							</div>
							<!-- col -->

							<div class="col-md-6">
								<!-- <label>Find People <helptip tip="Search for and add team members from here" icon="info-sign" ></helptip></label> -->
								<div class="panel panel-default">
									<div class="panel-body">
										<!-- Search field -->
										<!-- <div class="form-group has-feedback"> -->
										<!-- 	<label>Find People <helptip tip="Search for and add team members from here" icon="info-sign" ></helptip></label> -->
										<!-- 	<\!-- <label class="control-label" for="inputSuccess2">Input with success</label> -\-> -->
 										<!-- 	<input type="text" class="form-control" id="query2" ng-model="query2" placeholder="testing feecback control ... "> -->
 										<!-- 	<\!-- <span class="glyphicon glyphicon-refresh form-control-feedback"></span> -\-> -->
										<!-- 	<span class="form-control-feedback"><img src="/static/img/spinner.gif"></span> -->
										<!-- </div> -->

										<div class="form-group">
											<div class="form-group has-feedback">
												<label>Find People <helptip tip="Search for and add team members from here" icon="info-sign" ></helptip></label>
												<input type="text" id="query" ng-model="query" ng-change="getCandidatesByName(query)" class="form-control" placeholder="Search for people to add as team members ... ">
												<!-- <input type="text" id="query" ng-model="query" typeahead="user.$id() as user.getFullName() for user in getCandidatesByName($viewValue) | orderBy:'lastName'" typeahead-loading="loadingUsers" typeahead-on-select="onSelect($item, $model, $label)" class="form-control" placeholder="Search for people to add as team members ... "> -->
												<!-- <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh form-control-feedback"></i> -->
												<!-- <span ng-show="loadingUsers" class="glyphicon glyphicon-refresh form-control-feedback"></span> -->
												<span class="form-control-feedback" ng-show="loadingUsers"><img src="/static/img/spinner.gif"></span>
												<span class="help-block" ng-show="noUsersFound" >No matching users for "{{query}}"</span>
											</div>
											<!-- <input type="text" class="form-control" id="query" ng-model="query" ng-disabled="!items.length" placeholder="Search for people to add as team members ... "/> -->
										</div>

										<!-- <div class="thumbnail thumbnail-user"  ng-repeat="user in teamMemberCandidates(teamMemberAutocomplete) | orderBy:'lastName'"> -->
										<!-- <\!-- <div class="thumbnail thumbnail-user"  ng-repeat="user in teamMemberCandidates() | orderBy:'lastName'"> -\-> -->
										<!-- 	<img src="/static/img/foouser.jpg" class="photo"> -->
										<!-- 	<\!-- <gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar> -\-> -->
										<!-- 	<div class="caption"> -->
										<!-- 		<p>{{ user.getFullName() }}</p> -->
										<!-- 		<p> -->
										<!-- 			<button class="btn btn-xs btn-success" ng-click="addTeamMember(user.$id())"> -->
										<!-- 				<span class="glyphicon glyphicon-hand-left"></span> Add -->
										<!-- 			</button> -->
										<!-- 		</p> -->
										<!-- 	</div> -->
										<!-- </div> -->

										<userthumb 
											 user="user" 
											 action="addTeamMember(user)" 
											 action-name="Add" 
											 action-icon="plus-sign" 
											 action-button-class="btn-success" 
											 ng-repeat="user in teamMemberCandidates(teamMemberAutocomplete) | orderBy:'lastName'">
										</userthumb>

										<userthumb
											 user="user" 
											 action-name="Foo Bar" 
											 action-icon="thumbs-up" 
											 action-button-class="btn-success" 
											 action-disabled="true" 
											 ng-repeat="user in teamMemberAlready(teamMemberAutocomplete) | orderBy:'lastName'">
										</userthumb>

										<!-- <div class="thumbnail thumbnail-user"  ng-repeat="user in teamMemberAlready(teamMemberAutocomplete) | orderBy:'lastName'"> -->
										<!-- <\!-- <div class="thumbnail thumbnail-user"  ng-repeat="user in teamMemberCandidates() | orderBy:'lastName'"> -\-> -->
										<!-- 	<img src="/static/img/foouser.jpg" class="photo"> -->
										<!-- 	<\!-- <gravatar email="user.email" size="50" default-image="'monsterid'"></gravatar> -\-> -->
										<!-- 	<div class="caption"> -->
										<!-- 		<p>{{ user.getFullName() }}</p> -->
										<!-- 		<p> -->
										<!-- 			<button class="btn btn-xs btn-success" ng-disabled="true"> -->
										<!-- 				<span class="glyphicon glyphicon-thumbs-up"></span> Team Member -->
										<!-- 			</button> -->
										<!-- 		</p> -->
										<!-- 	</div> -->
										<!-- </div> -->

									</div>
									<!-- panel-body -->
									<findusers 
										 project="project" 
										 add-action-name="Add"
										 add-action="addTeamMember(user)"
										 add-action-filter="possibleTeamMemberFilter(user)"
										 in-list-action-name="Team Member" 
										 in-list-action-filter="isTeamMemberFilter(user)" 
										 root-div-class="panel-body">
									</findusers>

								</div>
								<!-- panel -->
							</div>
							<!-- col -->
						</div>
						<!-- panel-body -->
					</div>
					<!-- panel -->

			</div>
			<!-- team members controller -->


		</div>
		<!-- panel body -->

		<div class="panel-footer">
			<div class="row">
				<hr>
				<crud-buttons class="col-md-6"></crud-buttons>
			</div>
		</div>
	</form>
</div>
